/* --------------------------------------------------------
    ベース設定
  -------------------------------------------------------- */
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  a{
    text-decoration: none;
    display: inline-block;
    &:hover{
      opacity: 0.7;
      transition: 0.5s;
    }
  }

  html{
    font-size: 10px;
  }

  body {
    color: #333;
    font-weight: normal;
    font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    line-height: 1;
    background-color: white;
    overflow-x: hidden;
    // overflow-xプロパティは、ボックスの範囲内に内容が収まらない収まらない場合に、はみ出た要素の左右の表示方法を指定する際に使用します。  
    letter-spacing: 0.05em;
    // 文字間隔
  }
  
  p{
    line-height: 1.8;
  }

  img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  .container {
    display: block;
    width: 100%;
    max-width: 980px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width:1024px){
      padding-left: 20px;
      padding-right: 20px;
    }
    @media screen and (max-width:768px){
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  /*共通
--------------------------------------------------------*/

  .section{
    &__title{
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      line-height: 1;
      padding-bottom: 70px;
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        padding-bottom: 47px;      
      }
    }
  }

  .btn{
    margin-top: 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    padding-top: 9px;
    padding-bottom: 11px;
    width: 126px;
    text-align: center;
    background-color: #AE0009;
    color: #fff;
    @media screen and (max-width:768px){
      //画面サイズが768px以下の時
      margin-top: 30px; 
    }
  }

  /*header
--------------------------------------------------------*/
  
  .header{
    height: 60px;
    @media screen and (max-width:768px){
      height: 50px;
    }
     // __innerはheaderと同じく高さの指定だけでOK
    &__inner{
      height: 60px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        height: 50px;
      }
    }
    &__logo{
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        width: 70px;
        height: 25px; 
      }
    }
    &__list{
      width: 210px;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        width: 100%;
      }
    }
    &__nav{
      @media screen and (max-width:768px) { 
        //画面サイズが768px以下の時
        width: 41.1%;
      }
    }
    &__item{
      font-size: 18px;
      font-weight: bold;
      a{
        color: #333;
      }
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        font-size: 14px; 
      }
    }
  }

  .mv{
    &__inner{
      background-image: url(../img/mainvisual.jpg);
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (min-width:1280px) { 
        //画面サイズが1280px以上の時
        width: 100vw;
        max-width: 2000px;
        height: 47vw;
        max-height: 800px;
        margin: 0 auto;
      }
      @media screen and (max-width:1280px) { 
        //画面サイズが1280px以下の時
        height: 47vw;
      }
      @media screen and (max-width:768px) { 
        //画面サイズが768px以下の時
        background-image: url(../img/mainvisual-sp.jpg);
        height: 150vw;
      }
    }
    &__inner{
      @media screen and (max-width:768px) { 
        //画面サイズが768px以下の時
        img{
          width: 40vw;
        }
      }
    }
  }

  .desc{
    .container{
      text-align: center;
      margin-top: 100px;
      padding-bottom: 93px;
    }
    &__title{
      font-size: 32px;
      font-weight: bold;
      line-height: 1;
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        font-size: 20px;
      }
    }
    &__text{
      font-size: 20px;
      font-weight: normal;
      line-height: 1.5;
      padding-top: 50px;
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        font-size: 14px; 
      }
    }
  }

  .dog1{
    background-color: #F9F9F9;
    .container{
      text-align: center;
      padding-top: 100px;
      padding-bottom: 100px;
      @media screen and (max-width:1024px){
        //画面サイズが1024px以下の時
        width: 80%;      
      }
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        width: 100%;
        padding-top: 70px;
        padding-bottom: 50px;
      }
    }
    &__item{
      width: 100%;
      display: flex;
      justify-content: space-between;
      &:nth-child(2){
        @media screen and (min-width:1024px) { 
          //画面サイズが1024px以下の時
          flex-flow: row-reverse;
        }
      }
      &:nth-child(n+2){
        padding-top: 100px;
        @media screen and (max-width:768px) { 
          //画面サイズが768px以下の時
          padding-top: 60px;
        }
      }
      // (n+2)は2番目の意味
      @media screen and (max-width:1024px) { 
        //画面サイズが1024px以下の時
        flex-direction: column;
      }
    }
    &__image{
      width: 47%;
      max-width: 460px;
      @media screen and (max-width:1024px) { 
        //画面サイズが1024px以下の時
        width: 100%;
        max-width: 100%;
        img{
          width: 100%;
        }
      }
    }
    &__textContent{
      width: 47%;
      max-width: 460px;
      text-align: left;
      h3{
        font-size: 26px;
        font-weight: bold;
        line-height: 40px;
        border-bottom: 3px solid #AE0009;
        @media screen and (max-width:768px){
          //画面サイズが768px以下の時
          font-size: 20px;
          padding-top: 30px;
          line-height: 40px;
          letter-spacing: 0;
        }
      }
      p{
        font-size: 18px;
        line-height: 31px;
        padding-top: 24px;
        @media screen and (max-width:768px) { 
          //画面サイズが768px以下の時
          font-size: 16px;
          padding-top: 12px;
          line-height: 28px;
          letter-spacing: 0;
        }
      }
      @media screen and (max-width:1024px) { 
        //画面サイズが1024px以下の時
        width: 100%;
        max-width: 100%;
      }
    }
  }

  .dog2{
    .container{
      text-align: center;
      padding-top: 100px;
      padding-bottom: 100px;
      @media screen and (max-width:1024px) { 
        //画面サイズが1024px以下の時
        width: 80%;
      }
      @media screen and (max-width:768px) { 
        //画面サイズが768px以下の時
        width: 100%;
        padding-top: 72px;
        padding-bottom: 153px;
      }
    }
    &__list{
      width: 100%;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width:1024px) { 
        //画面サイズが1024px以下の時
        flex-direction: column;
      }
      @media screen and (max-width:768px) { 
        //画面サイズが768px以下の時
        width: 87%;
        margin: 0 auto;
      }
    }
    &__item{
      //コンテナ幅980pxに対して画像の幅300px 300/980=約31%
      width: 31%;
      max-width: 300px;
      @media screen and (max-width:1024px) { 
        //画面サイズが1024px以下の時
        width: 100%;
        max-width: 100%;
        &:nth-child(n+2){
          padding-top: 30px;
        }
      }
    }
    &__image{
      @media screen and (max-width:1024px) { 
        //画面サイズが1024px以下の時
        width: 100%;
        max-width: 100%;
        img{
          width: 100%;
        }
        
      }
    }
    &__textContent{
      text-align: left;
      p{
        font-weight: normal;
        font-size: 16px;
        line-height: 27px;
        padding-top: 16px;
      }
    }
  }
  .middle{
    &__inner{
      background-image: url(../img/dog_bg_01.jpg);
      background-size: cover;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (min-width:1280px){
        //画面サイズが1280px以上の時
        width: 100vw;
        max-width: 2000px;  
        height: 35.5vw;
        max-height: 800px;
        margin: 0 auto;         
      }
      @media screen and (max-width:1280px) {
        height: 33.5vw;
      }
      @media screen and (max-width:1024px){
        //画面サイズが1024px以下の時
        height: auto;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        background-image: url(../img/dog_bg_sp.jpg);
        height: 107vw;
      }
    }
    &__content{
      // 画面半分
      width: 51%;
        // カンプwidth参照
      max-width: 500px;
        // 真ん中
      margin-right: 0;
      margin-left: auto;
      @media screen and (max-width:768px) { 
          //画面サイズが768px以下の時
        width: 100%;
      }
      p{
        font-size: 18px;
        font-weight: bold;
        line-height: 31px;
        color: white;
        &:last-child{
          padding-top: 27px;
        }
        @media screen and (max-width:768px){
          //画面サイズが768px以下の時
          font-weight: normal;
          font-size: 16px;
          line-height: 27px;
          letter-spacing: 0;
        }
      }
    }
  }
  
  .dog3{
    .container{
      text-align: center;
      padding-top: 100px;
      padding-bottom: 100px;
      @media screen and (max-width:768px) { 
        //画面サイズが768px以下の時
        width: 100%;
        padding-top: 72px;
        padding-bottom: 80px;
      }
    }
    table{
      width: 100%;
    }
    tr{
      border-top: 1px solid #777777;
      border-bottom: 1px solid #777777;
    }
    th{
      font-size: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
    }
    td{
      font-size: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      
      &:nth-child(1){
        width: 204px;
        text-align: left;
        font-weight: bold;
        letter-spacing: 0;
        @media screen and (max-width:1024px) { 
          //画面サイズが1024px以下の時
          display: block;
          width: 100%;
          text-align: left;
          padding-left: 20px;
        }
        @media screen and (max-width:768px) { 
          //画面サイズが768px以下の時
          font-size: 14px;
          padding-top: 10px;
          padding-bottom: 10px;
          padding-left: 0;
        }
      }
      &:nth-child(2){
        a{
          color: #333333;
        }
        text-align: left;
        padding-left: 36px;
        @media screen and (max-width:1024px) { 
          //画面サイズが1024px以下の時
          display: block;
          width: 100%;
          padding-left: 20px;
        }
        @media screen and (max-width:768px) { 
          //画面サイズが768px以下の時
          font-size: 14px;
          line-height: 24px;
          padding-top: 0;
          padding-left: 0;
        }
      }
    }
    .new{
      display: inline-block;
      border: 1px solid #AE0009;
      margin-left: 10px;
      a{
        font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
        color: #AE0009;
        display: block;
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        width: 84px;
        height: 26px;
        text-align: center;
        @media screen and (max-width:768px) { 
          //画面サイズが768px以下の時
          font-size: 14px;
        }
      }
    }
  }
  
  .sitemap{
    background-color: #AFAFAF;
    .container{
      text-align: center;
      padding-top: 89px;
      padding-bottom: 100px;
    }
    @media screen and (max-width:768px){
      //画面サイズが768px以下の時
      padding-top: 55px;
      padding-bottom: 36px; 
    }
    &__contents{
      display: flex;
      justify-content: space-between;
      @media screen and (max-width:1024px){
        //画面サイズが1024px以下の時
        flex-direction: column;
        align-items: center;
      }
    }
    &__box{
      width: 30.6%;
      max-width: 300px;
      text-align: left;
      @media screen and (max-width:1024px){
        //画面サイズが1024px以下の時
        width: 100%;
        &:nth-child(n+2){
          padding-top: 30px;
        }
      }
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        max-width: 100%; 
      }
    }
    &__title{
      font-size: 16px;
      font-weight: bold;
      line-height: 40px;
      color: #fff;
      border-bottom: 1px solid #fff;
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        font-size: 14px;   
      }
    }
    &__list{
      padding-top: 28px;
      @media screen and (max-width:768px){
        //画面サイズが768px以下の時
        padding-top: 20px;  
      }
    }
    &__item{
      a{
        font-size: 16px;
        font-weight: normal;
        color: #fff;
        line-height: 1;
        @media screen and (max-width:768px){
          //画面サイズが768px以下の時
          font-size: 14px;
        }
      }
      &:nth-child(n+2){
        padding-top: 11px;
        @media screen and (max-width:768px){
          //画面サイズが768px以下の時
          padding-top: 13px;  
        }
      }
    }
  }

  .copy{
    font-size: 12px;
    background-color: #797979;
    color: #fff;
    line-height: 50px;
    height: 50px;
    text-align: center;
  }
